<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <h3>Add a Todo</h3>
    <form>
      <input type="text" name="title" id="title" placeholder="Task Title" />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Task Description"
      />
      <input type="text" name="date" id="date" placeholder="Date" />
      <input type="submit" />
    </form>
    <br />
    <hr />
    <ul id="message"></ul>

    <script src="/js/script.js"></script>
  </body>
</html>
